# Star Cluster Identifier Hackathon

In [94]:
import os
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

from astropy import units as u
from astropy.coordinates import SkyCoord

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [47]:
f = open("data/temp.txt", "w")

with open("data/Dataset.txt") as file:
    for line in file:
        if line[0] != '#':
            f.write(line)

f.close()

In [49]:
raw_df = pd.read_csv('data/temp.txt', header=None, delimiter=r"\s+")
raw_df.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,6954.4673,1738.9973,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9999,0.0085,1,1,-1.0,205.524050,28.341480,R0000001,1
1,7111.1323,1756.4988,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9991,-0.0041,1,1,-1.0,205.522096,28.341672,R0000002,1
2,6884.0669,1784.6356,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9997,-0.0023,1,1,-1.0,205.524928,28.341980,R0000003,1
3,6604.6484,1786.4238,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,1.0000,0.0086,1,1,-1.0,205.528412,28.342000,R0000004,1
4,7284.2275,1819.0413,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,1.0000,0.0000,99,99,-1.0,205.519938,28.342358,R0000005,1

In [61]:
cols = [0,1,2,8,14,20,26,32,33,34,35]
df = raw_df.iloc[:,cols]
df.columns = ['x', 'y', 'f275w', 'f336w', 'f438w', 'f606w', 'f814w', 'prob', 'ra', 'dec', 'id']
df.describe()

,x,y,f275w,f336w,f438w,f606w,f814w,prob,ra,dec
count,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000
mean,5062.955907,4916.888151,-20.770262,-8.363505,-8.390557,22.361134,21.434464,35.983431,205.547639,28.376351
std,1301.778070,1289.670308,59.867925,54.505959,54.276369,8.054891,7.722576,47.294623,0.016237,0.014153
min,2074.261200,1693.539200,-99.999900,-99.999900,-99.999900,-99.999900,-99.999900,-1.000000,205.509822,28.340981
25%,4101.594700,3990.908900,-99.999900,-99.999900,-99.999900,21.159400,20.510800,-1.000000,205.535806,28.366189
50%,5036.086400,4945.694800,21.428100,22.146700,22.281100,23.233600,22.206800,-1.000000,205.547975,28.376667
75%,6011.716300,5868.073200,26.051500,26.057700,25.366100,24.601000,23.380000,96.800000,205.559631,28.386789
max,8094.584500,7969.983400,28.958100,29.655600,28.873300,31.504600,30.860600,100.000000,205.584904,28.409850

In [59]:
len(df), len(cols)

(199621, 11)

In [51]:
def scatterPlot2D(df, title, xLabel, yLabel):
    x = []
    y = []
    
    for _, point in df.iterrows():
        x.append(point[0])
        y.append(point[1])

    fig = plt.figure()

    plot = fig.add_subplot(111)
    plot.set_title("Subplot1")
    plot.set_xlabel(xLabel)
    plot.set_ylabel(yLabel)
    plot.scatter(x, y, s=30, c='r', label="feature1")

    plt.title(title)
    plt.legend(loc=2)
    plt.show()

In [54]:
a = df.values

In [64]:
df_bol = df.loc[df['f606w'] >= (22-5*np.log10(1040))]

In [68]:
len(df)-len(df_bol)

799

## Problem 1

In [78]:
df1 = df.loc[df['prob'] != -1]

In [89]:
df1['x'] = df1['x']-5000
df1['y'] = df1['y']-5000

r_c = max([np.sqrt(x**2+y**2) for x, y in zip(df1['x'], df1['y'])])

In [91]:
r_e = r_c*np.power(1-(np.log(0.5)/7.67), -4)

In [93]:
r_e, r_c

(12190.778595556085, 17231.73263417725)

In [102]:
len(df1)

76175

In [103]:
c = [SkyCoord(ra=ra*u.degree, dec=dec*u.degree) for ra, dec in zip(df1['ra'], df1['dec'])]

In [104]:
len(c)

76175