In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

from astropy import units as u
from astropy.coordinates import SkyCoord

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
f = open("data/temp.txt", "w")

with open("data/Dataset.txt") as file:
    for line in file:
        if line[0] != '#':
            f.write(line)

f.close()

In [3]:
raw_df = pd.read_csv('data/temp.txt', header=None, delimiter=r"\s+")
raw_df.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,6954.4673,1738.9973,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9999,0.0085,1,1,-1.0,205.524050,28.341480,R0000001,1
1,7111.1323,1756.4988,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9991,-0.0041,1,1,-1.0,205.522096,28.341672,R0000002,1
2,6884.0669,1784.6356,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,0.9997,-0.0023,1,1,-1.0,205.524928,28.341980,R0000003,1
3,6604.6484,1786.4238,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,1.0000,0.0086,1,1,-1.0,205.528412,28.342000,R0000004,1
4,7284.2275,1819.0413,-99.9999,99.9999,0.0,9.9999,0,0,-99.9999,99.9999,...,0.0,1.0000,0.0000,99,99,-1.0,205.519938,28.342358,R0000005,1

In [4]:
cols = [2,8,14,20,26,32,33,34,35]
df = raw_df.iloc[:,cols]
df.columns = ['f275w', 'f336w', 'f438w', 'f606w', 'f814w', 'prob', 'ra', 'dec', 'id']
df.describe()

,f275w,f336w,f438w,f606w,f814w,prob,ra,dec
count,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000,199621.000000
mean,-20.770262,-8.363505,-8.390557,22.361134,21.434464,35.983431,205.547639,28.376351
std,59.867925,54.505959,54.276369,8.054891,7.722576,47.294623,0.016237,0.014153
min,-99.999900,-99.999900,-99.999900,-99.999900,-99.999900,-1.000000,205.509822,28.340981
25%,-99.999900,-99.999900,-99.999900,21.159400,20.510800,-1.000000,205.535806,28.366189
50%,21.428100,22.146700,22.281100,23.233600,22.206800,-1.000000,205.547975,28.376667
75%,26.051500,26.057700,25.366100,24.601000,23.380000,96.800000,205.559631,28.386789
max,28.958100,29.655600,28.873300,31.504600,30.860600,100.000000,205.584904,28.409850

In [5]:
df_bol = df.loc[df['f606w'] >= (22-5*np.log10(1040))]

In [8]:
def mass(m_bol):
    d = 10.4 * 100
    Mo = 1.9891e30
    L_ratio = np.e ** ((4.8-m_bol+ 5*np.log10(d))/2.5)
    M_s = (L_ratio**(1/3.8))*Mo
    return M_s

In [28]:
p1 = df_bol['prob'][105]

In [29]:
p2 = df_bol['prob'][104]

In [30]:
m1 = mass(df_bol['f606w'][105])

In [31]:
m2 = mass(df_bol['f606w'][104])

In [33]:
df_boo = df.loc[df['prob'] > (0)]

In [35]:
n = len(df_boo)

In [36]:
m1

3.2403075339345905e+30

In [37]:
m2

2.1600500680400575e+30

In [38]:
alpha = 2.3

In [39]:
E = (n * p1)/(m1**alpha)

In [40]:
E

4.8985630556028166e-64

In [41]:
E2 = (n * p2)/(m2**alpha)

In [42]:
E2

1.2643570768981562e-63

In [54]:
m3 = mass(df_bol['f606w'][110])

In [55]:
m3

2.274745648239547e+30

In [52]:
p3 = df_bol['prob'][110]

In [53]:
p3

97.2

In [56]:
E4 = (n * p3)/(m3**alpha)

In [57]:
E4

1.1167672960242709e-63

In [59]:
# Average Value 
# E = 1.129e-63